@charset "utf-8";
@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");

/*  reset */
*{margin: 0; padding: 0; font-size: 1em; color: #000;}
html,body{margin:0;padding:0;}
body{font:30px/1.5 'Nanum Gothic', sans-serif; color:#767676; background-color:#fff; -webkit-text-size-adjust:none;word-break:keep-all; letter-spacing:-.5px;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,button{font:30px/1.5 'Nanum Gothic', sans-serif;color:#767676;vertical-align:middle;letter-spacing:-.5px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse;}
ol,ul,li{list-style:none;}
hr, legend, caption, .skip{position:absolute;overflow:hidden;line-height:0.01%;font-size:0.01%;width:0;height:0;}
img,fieldset{border:0 none;vertical-align:middle;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a{color:inherit;text-decoration:none;}

caption{display:none;}

/* Input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"]{height:16px;padding:2px 0 1px;border:1px solid #e2e2e2;line-height:16px;text-indent:5px;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;}
input[type="submit"],
input[type="button"]{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;border-radius:0;}
input[type="radio"],
input[type="checkbox"]{width:13px;height:13px;}
input[type="file"]{border:1px solid #e2e2e2;background:#fff;}
textarea{overflow:auto;overflow-x:hidden;border:1px solid #e2e2e2;background:#fff;resize:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;}
select{max-width:100%;border:1px solid #e2e2e2;background:#fff;border-radius:0;}
 input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
 }

/* Guide */

.wrapper{position:relative;max-width:100%; margin:0 auto; padding:20px;}
.wrapper:after{content:'';display:block;clear:both;}
.card_head {float:right;}
.card_head:after {content:''; display:block; clear:both;}
.pic img {max-width:100%; width:100%;}
.day {font-weight:bold;}

.txt {text-align:right; margin:20px 0;}
.txt_h1 {font-size:1.5em;}
.txt_h2 {font-size:1.2em; margin-top:20px;}
.hreat {color:red;}

.txt_invite {background:#F5F1F1; padding:20px; text-align:center; margin-bottom:20px;}
.txt_invite p {font-size:1.1em; line-height:3;}
.txt_invite_foot {margin-bottom:20px;}
.txt_invite_head,.txt_invite_foot p{font-size:1.3em; line-height:1.5; font-weight:bold;}

.button_zone {text-align:center; padding:20px 50px; margin:30px 0;}
.button_zone a {display:inline; width:45%; background:#9B9B9B; padding:20px 30px; border-radius:100px; color:#fff;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{font-size:30px; display:inline-block; padding:5%; background:#fff; width:100%; max-height:100%; margin-top:40%; text-align:center; box-sizing: border-box; }
.pop_wrap .pop_inner .btn_close {display:inline-block; width:100%; border:1px solid #000; padding:20px 0; border-radius:30px; color:#000;}
.pop_wrap .pop_inner .dsc {color:#373832; font-weight:bold;font-size:1.5em;}

.family {text-align:center; margin:50px 0;}
.family ul {margin-bottom:30px;}
.family ul:after {content:''; display:block; clear:both;}
.family li:first-child {border-left:none;}
.family li {float:left; box-sizing:border-box; width:33.33333%; border-left:1px solid #000;}
.family li a {font-size:1.4em; color:#1A1A1A; vertical-align:middle; margin-left:20px;}

.js-load {display: none;}
.js-load.active {display: block;}
.is_comp.js-load:after {display: none;}
.btn-wrap, .lists, .main {display: block;}
.main {max-width: 100%; margin: 0 auto;}
.lists { margin-bottom: 4rem;}
.lists__item {padding: 20px;background: #EEE;}
.lists__item:nth-child(2n) {background: #59b1eb; color: #fff;}
.btn-wrap {text-align: center; width:100%;  background:#9B9B9B; padding:20px 30px; border-radius:100px; color:#fff; margin:50px 0; box-sizing:border-box;}
.btn-wrap a {display:block;}

.map_btn a {width:40%; display:inline-block;}

.map_head {text-align:center; font-weight:bold; }

	@media all and (min-width:320px) {
	}

	@media all and (min-width:425px) {
	}

	@media all and (min-width:768px) {
	}

	@media all and (min-width:1024px) {
	}

	@media all and (min-width:1440px) {
	}
